
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Acme&family=Assistant:wght@200;300&family=Baloo+2&family=Cairo:wght@200;600&family=Caveat:wght@400;700&family=Comforter+Brush&family=Exo+2:wght@100;300&family=Indie+Flower&family=Inter:wght@100;500&family=Lato:wght@100;400&family=M+PLUS+1:wght@100;400&family=M+PLUS+2:wght@100;500&family=M+PLUS+Code+Latin:wght@100;400&family=Merriweather:wght@300;700&family=Open+Sans:wght@300;600&family=Roboto+Slab:wght@100;400&family=Signika:wght@300&display=swap');

:root
{
    --primary-cor:#409C32;
    --secondary-cor:#265C1D;
    --three-cor:#59DB46;
    --four-cor:#5FE84A;
    --five-cor:#50C23E;
    --gold-cor:#FFC857;
    --charcoal-cor:#2E4052;
    --purple-cor:#412234;
    --green-cor:#BDD9BF;
}
*{
    box-sizing: border-box;
}

body
{
    background-color: var(--green-cor);
    font-family: 'Merriweather',sans-serif;
    font-weight: 0;
    display: flex;          /*coloca tudo em linha*/
    /*flex-direction: column; /*coloca tudo em coluna*/
    align-items: center;    /*alinha horizontalmente*/
    justify-content: center;/*alinha tudo verticalmente com uso de height:100vh*/
    height: 100vh;
    overflow: hidden; /*BARRA DE SCROLL DOWN, HIDDEN ESCONDIDA*/
    margin: 0;
    overflow-x: hidden; /*REMOVER BARRA DE SCROLL HORIZONTAL*/
    
}

.main {
    border-radius: 5px;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.4);
    overflow: hidden;
    width: 300px;
}

.titulo {
    margin: 0;
}

.subtitle {
    display: inline-block;
    margin: 5px 0 20px;
    opacity: 0.8;
}

.header {
    background-color: #3e57db;
    color: #fff;
    padding: 30px 20px;
}

.header input {
    background-color: rgba(0,0,0,0.3);
    border: 0;
    border-radius: 50px;
    color: #fff;
    font-size: 14px;
    padding: 10px 15px;
    width: 100%;
}
.header input:focus {
    outline: none;
}

.users {
    background-color: #fff;
    list-style-type: none;
    margin: 0;
    padding: 0;
    max-height: 400px;
    overflow-y: auto;
}

.users li{
    display: flex;
    padding: 20px;
}

.users img {
    border-radius: 50%;
    object-fit: cover;
    height: 50px;
    width: 50px;
}

.users .user-info {
    margin-left: 10px;
}
.users .user-info h4 {
    margin: 0 0 10px;
}

.users .user-info p {
    font-size: 12px;
}
.users li:not(:last-of-type) {/*BORDER PARA TODOS OS <li> DA LISTA MENOS O ÚLTIMO :not(:last-of-type)*/
    border-bottom: 1px solid #eee;
}

.users li.hide{
    display: none;
}



/*///////////////MEDIA QUERYS////////////////////////////////////////////////////////////////////*/

@media(max-width: 480px)        /*para ecras mais pequenos*/
{
    body{
        overflow:visible;
    }

    footer 
    {
        display: none;
    };

}

@media (max-width : 600px)
{

}

@media (max-width: 800px)
{
    body{
        overflow:visible;
    }
    footer 
    {
        /* display: none; */
    };
  

}




/*estilos do footer */

footer{
    font-size: 0.8rem;
    color: #fff;
    font-family:'Inconsolata',sans-serif ;
    text-align: center;
    /* border: 1px solid var(--charcoal-cor); */
    position: absolute;
     bottom: 0rem; 
     left: 50%; 
    transform: translate(-50%, -50%);
    font-weight: 500;
    padding: 0rem 0.9rem;
}

footer:hover{
    background-color: #333;
    color: #fff;
    border-radius: 20px;
    transform: translate(-50%,-50%) scale(1.2);
}
footer:hover a{
    color: yellow;
    font-weight: 700;
}
footer:hover a:hover{
    font-weight: 900;
    color:greenyellow;
}

footer a{
   color: #fff;  /*cor dos links a preto*/
   text-decoration: none;     /*retira o sublinhado dos links*/
  
}

footer a:hover{
    color: var(--gold-cor);
}




